@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  height: 100%;
  color: $mainFontColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  box-sizing: border-box
}

ul,
ol {
  list-style: none;
  padding: 0
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0
}

a:not([class]) {
  text-decoration-skip-ink: auto
}

img {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

input,
button,
textarea,
select {
  font: inherit
}

button {
  outline: none
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle
}

textarea {
  resize: none
}

section {
  position: relative
}

input,
select,
button {
  outline: none
}

.container {
  position: relative;
  max-width: $desktopWidth;
  width: 100%;
  margin: 0 auto;
  flex: 0 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

@import "./modules/modules";
@import "./components/components";
