body {
  //background-image: url('./assets/images/1.png');
  background-color: olive;
}

h1 {
  color: red;
}
h2 { color: red }
h3 { color: red }
h4 { color: red }

div {
  display: flex;
  justify-content: center;
  align-content: center;
}