include ../helpers/mixin
include ../helpers/vars

block variables
doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")

		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->

		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		title #{ title }

		link(rel='apple-touch-icon' sizes='180x180' href='/favicons/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/favicons/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/favicons/favicon-16x16.png')
		link(rel='shortcut icon' href='/favicons/favicon.ico')
		link(rel='manifest' href='/favicons/site.webmanifest')

	body
		#app
			.wrapper
				include ../modules/header/header
				.content
					block content
				include ../modules/footer/footer

			block script